.AboutMe
{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg , #11113d , rgb(12, 5, 119));
    overflow: hidden;
}
.AboutMeWrapper
{
    width: 1366px;
    height: 100%;
    margin: auto;
}
.AboutContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.AboutMeImg
{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.AboutMeImg img 
{
    width: 100%;
    border-radius: 30px;
}
.AboutMeText
{
    flex:2;
    color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.AboutMeText h1 
{
    font-size: 65px;
    text-align: start;
    color:orange;
    padding: 10px;
    margin: 0;
}
.AboutMeText hr 
{
    width: 100%;
}
.AboutMeText p 
{
    font-size:30px;
    font-weight: 600;
    color:lightgray;
    margin: 0;
    text-align: justify;
}